<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aewol.domain.notification.mapper.NotificationSettingMapper">
    <insert id="insert" parameterType="map">
        INSERT INTO notification_setting (
            member_id, payment_enabled, recurring_payment_enabled,
            family_share_enabled, community_enabled, marketing_enabled
        ) VALUES (
            #{memberId}, #{paymentEnabled}, #{recurringPaymentEnabled},
            #{familyShareEnabled}, #{communityEnabled}, #{marketingEnabled}
        )
    </insert>

    <insert id="upsertForRecovery">
        INSERT INTO notification_setting (
            member_id, payment_enabled, recurring_payment_enabled,
            family_share_enabled, community_enabled, marketing_enabled
        ) VALUES (
            #{memberId}, TRUE, TRUE, TRUE, TRUE, #{marketingEnabled}
        )
        ON DUPLICATE KEY UPDATE
            marketing_enabled = #{marketingEnabled}
    </insert>
</mapper>
