<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aewol.domain.bank.mapper.BankMapper">

    <select id="findAll" resultType="map">
        SELECT * FROM bank_master ORDER BY bank_name
    </select>

</mapper>
